<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col></ion-col>

  <ion-card>
    <ion-card-header class="header-card">
      <ion-avatar>
        <img src="../../assets/img/user.png" alt="avatar">
      </ion-avatar>
      <h4>Cristhian Forero</h4>
      <h5>Desarrollador en formación</h5>
    </ion-card-header>

    <ion-card-content>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Formación Acádemica</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Ingeniería de sistemas (En curso)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tecnólogo en mantenimiento eléctrico industrial</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Curso de desarrollo apps móviles híbridas</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Curso de ASP .NET Core</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Curso de ioT básico</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Curso de programación básica</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Tecnologias web favoritas</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>PHP (Laravel)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Ruby (Ruby On Rails)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Javascript</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Node JS</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Angular, React JS, Vue JS</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>GraphQL</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Habilidades</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Electrónica</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Desarrollo web</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Electricidad industrial</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Hobbies</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Lectura</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Programación</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Videojuegos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Jugar fútbol</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Salidas familiares</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cine</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Redes sociales</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon name="logo-twitter" color="primary"></ion-icon>
          <ion-label class="social">@cristhiandgz</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-github" color="dark"></ion-icon>
          <ion-label class="social">cristhianforerod</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-card-content>

  </ion-card>

</ion-content>